section.footer .box-content p a{}


section.footer ul li a:hover,
section.footer ul li a:focus,

section.footer .box-content p a:focus,
section.footer .box-content p a:hover{
	color: #008a4b;
	text-decoration: none;
}

.blocks-info-menubtm ul{
	margin-right: 0;
}
body{
	padding-top: 85px;
}
header.head.headers{
	background-color: #fff;
}

section.dining-sec-1 .image img{
	display: block;
	margin: 0 auto;
	text-align: center;
}

.defaults_list_gallerys.to_bottom{
	padding: 0 6.5rem;
}

.content-text p a{
	color: #008a4b;
}

.defaults_list_gallerys.qualitys .lists_row .desc_info h4{
	font-size: 25px;
}
.defaults_list_gallerys.qualitys .lists_row .desc_info p{
	font-size: 16px;
}

section.live-chat {
    position: fixed;
    right: 0;
    top: 60%;
}

.nfoot_mob_wa{
	position: fixed;
	bottom: 0px; left: 0px;
	z-index: 150;
	width: 100%;
	background-color: #f5f5f5;
}
.nfoot_mob_wa .nx_button{
	text-align: center;
	padding: 0.5rem 0;
	border-top: 1px solid #ccc;
}
.nfoot_mob_wa .nx_button a{
	color: #000;
	font-size: 16px;
	font-weight: 400;
}
.nfoot_mob_wa .nx_button a i.fa{
	color: green;
}
.prelative{
	position: relative;
}

.blocks_list_banner_kat{}
.blocks_list_banner_kat .items{}
.blocks_list_banner_kat .items .image{
	position: relative;
}
.blocks_list_banner_kat .items .inside{
	background-color: rgba(0, 138, 75, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

.blocks_list_banner_kat .items .image .inside .n_tables{
	display: table;
	vertical-align: middle; text-align: center;
	width: 100%; height: 100%;
}
.blocks_list_banner_kat .items .image .inside .n_middles{
	display: table-cell;
	vertical-align: middle; text-align: center;
	width: 100%; height: 100%;
}
.blocks_list_banner_kat .items .inside a{
	color: #fff;
	text-decoration: none;
}
.blocks_list_banner_kat .items .inside p,
.blocks_list_banner_kat .items .inside h4{
	display: block;
	margin: 0;padding: 0;
}
.blocks_list_banner_kat .items .inside h4{
	font-size: 25px;
	font-weight: 500; color: #fff;
	letter-spacing: 1px;
	padding-bottom: 0.5rem;
}
.blocks_list_banner_kat .items .inside p{
	font-size: 17px;
	font-weight: 700; color: #fff;
}
section.home-sec-2 {
    padding-top: 115px;
}

.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native ol.carousel-indicators {
    margin: -10px 0;
    right: inherit;
    left: inherit;
    text-align: center;
    justify-content: center;
    left: inherit;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native ol.carousel-indicators li{
    background-color: grey;
    cursor: pointer;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native ol.carousel-indicators li.active{
    background-color: #008a4b;
    cursor: pointer;
}

@media screen and (min-width: 1650px) {
	
	section.dining-sec-1 .prelative.container,
	.prelative.container2{
		padding: 0 110px;
		max-width: 1920px;
	}
	body{
		padding-top: 95px;
	}

}

@media screen and (max-width: 1650px) {

	.defaults_list_gallerys .lists_row .desc_info h4{
		font-size: 32px;
	}

}


@media screen and (max-width: 600px) {
	
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide{
		padding: 0 !important;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native ol.carousel-indicators li{
		width: 30px;
	}
	body{
		padding-top: 75px;
	}

	.defaults_list_gallerys.to_bottom{
		padding: 0rem;
	}

	.defaults_list_gallerys .lists_row .desc_info .middles{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	section.live-chat{
		display: none;
	}

	body{
		padding-bottom: 2.5rem;
	}

	section.home-sec-2{
		padding-top: 1.5rem;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native ol.carousel-indicators{
		bottom: 3rem;
	}
	section.home-sec-1 .image{
		margin-bottom: 1.6rem;
		padding-bottom: 0;
	}
	.blocks_list_banner_kat .items .inside{
		display: block !important;
	}
	.blocks_list_banner_kat .items .inside h4{
		font-size: 20px;
	}
	.blocks_list_banner_kat .items .inside p{
		font-size: 14px;
	}

}