/*----------------- Responsive ---------------------*/
@media (max-width: 1440px){
	
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide,
	.prelative.container{
		padding: 0 32px;
	}

	section.home-sec-3{
		min-height: 500px;
	}

	section.home-sec-2{
		padding-top: 90px;
	}
	
}

@media (max-width: 1310px){

	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide,
	.prelative.container{
		padding: 0 30px;
	}

	section.footer ul li a{
		font-size: 16px;
	}
	section.footer .box-content p{
		font-size: 18px;
	}
	section.footer .title p{
		font-size: 30px;
	}
	section.footer-bawah .content p a,
	section.footer-bawah .content p{
		font-size: 12px;
	}

}

@media (max-width: 1280px){

}

@media (max-width: 1160px){
	
}

/* Large desktop */
@media (max-width : 1135px){
	
	section.home-sec-1{
		padding-top: 2.5rem;
	}
	section.home-sec-2{
		padding-top: 3.5rem;
	}
	section.home-sec-2 .box-content .content-inner .icon{
		padding-right: 1rem;
	}
	section.home-sec-2 .box-content{
		padding-left: 1rem;
	}
	section.home-sec-2 .box-content .content-inner .isi{
		margin: 1rem 0;
	}
	section.home-sec-2 .box-content .content-inner .isi p{
		font-size: 15px;
	}
	section.home-sec-2 .box-content .content-inner .title h3{
		font-size: 30px;
	}
	
	section.home-sec-3 .box-content,
	section.home-sec-3 .image{
		margin-top: 5rem;
	}

	.defaults_list_gallerys .lists_row .desc_info p{
		font-size: 14px;
	}
	.defaults_list_gallerys .lists_row .desc_info h4{
		font-size: 27px;
	}

}

@media (max-width : 1002px) { 
	
	.prelative.container,
	.container{
		width: 100%;
		border: none;
		padding: 0 15px !important;
	}
	.container.cont-fcs{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.navbar{
		margin: 0;
	}
	.navbar-toggle{
	}

}

@media (max-width : 991px) { 

	header.head.headers .prelative.container.d-none.d-sm-block .bottoms_head_menu .list-inline li a{
		font-size: 13px;
	}
	header.head.headers .prelative.container.d-none.d-sm-block .bottoms_head_menu .list-inline li{
		margin-right: 1.2rem;
	}

	.logo_heads{
		padding-top: 0.5rem;
	}

	section.home-sec-2 .box-content .content-inner .value p{
		margin-bottom: 10px;
	}
	section.home-sec-2 .box-content{
		padding-left: 0;
	}
	section.home-sec-2 .box-content .content-inner .icon{
		padding-right: 0.3rem;
	}
	section.home-sec-2 .box-content .content-inner .isi p{
		font-size: 13px;
	}
	section.home-sec-2 .box-content .content-inner .title h3{
		font-size: 25px;
	}
	section.home-sec-2 .box-content .content-inner .icon p{
		font-size: 14px;
	}
	section.home-sec-3 .box-content{
		padding-left: 1.5rem;
	}
	section.home-sec-3 .image{

	}
	section.home-sec-3 .box-content h3{
		font-size: 25px;
	}
	section.home-sec-3 .box-content p{
		margin-top: 1.5rem;
		font-size: 15px;
	}
	section.home-sec-3 .box-content h4 a{
		font-size: 15px;
	}

	section.home-sec-3{
		min-height: 375px;
		padding-bottom: 3rem;
		margin-bottom: 3rem;

		background: none;
		background-color: #eeeeee;
	}

	section.footer .box-content p{
		font-size: 15px;
	}
	section.footer ul{
		margin: 0;
	}

	section.footer h4{
		font-size: 15px;
		margin-bottom: 0.7rem;
	}
	section.footer ul li a{
		font-size: 13px;
	}

	.footer-bawah .image img{
		max-width: 120px;
	}
	section.footer-bawah .image img{
		padding-right: 1rem;
	}

}


@media (max-width: 992px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    // .navbar-collapse.collapse {
    //     display: none!important;
    // }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgba(0,0,0, 0.8); font-size: 14px; font-weight: 400;
    }
    .collapse.in{
        display:block !important;
    }

}

@media (max-width: 979px) {

	.content-text h3{
		font-size: 27px;
	}
	.content-text p{
		font-size: 13px;
	}
	.defaults_list_gallerys .lists_row .desc_info p{
		font-size: 10px;
	}
	.defaults_list_gallerys .lists_row .desc_info h4{
		font-size: 21px;
	}

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
	
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	header.head.headers,
	header.head{
		height: auto;
	}
	footer [class*="col-md"]{
		text-align: center;
	}

	.navbar-light .navbar-brand{
		max-width: 165px;
	}
	.navbar-light .navbar-toggler{
		padding: 0px;
		border: 0px;
		box-shadow: none;
	}

	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide, 
	.prelative.container{
		padding: 0 15px;
	}

	section.home-sec-1 .image {
	    padding-bottom: 1.6rem;
	}

	.prelative.container2{
		padding: 0 15px;
	}

	section.home-sec-2 {
	    padding-top: 1.5rem;
	    padding-bottom: 2.5rem;
	}
	section.home-sec-2 .image{
		padding-bottom: 1.5rem;
	}

	section.home-sec-3 .box-content{
		margin-top: 0;
		padding: 0 15px;
	}
	section.home-sec-3{
		padding-top: 2.5rem;
	}
	section.home-sec-3 .image{
		margin-top: 2rem;
	}
	section.home-sec-3 .box-content h4{
		margin-top: 10px;
	}

	section.footer h4 {
	    margin-bottom: 0.3rem;
	}
	section.footer ul{
		margin-bottom: 1rem;
	}
	section.footer-bawah .content p,
	section.footer-bawah .content{
		float: none;
		text-align: left;
	}
	section.footer-bawah .content{
		padding-top: 1rem;
	}
	section.footer-bawah {
	    padding-top: 10px;
	    padding-bottom: 15px;
	}
	section.footer-bawah .content p, 
	section.footer-bawah .content p a {
	    font-size: 10px;
	}

	.navbar-nav>li>a{
		font-size: 16px;
		font-weight: 500;
		color: #3a3a3a;
		padding: 0.15rem 0;
	}
	.bx_banner{
		img{
			margin-bottom: 1rem;
		}
	}

	.defaults_list_gallerys .lists_row {
		.bx_banner{
			img{
				margin-bottom: 0rem;
			}
		}
	}
	.defaults_list_gallerys .lists_row .desc_info{
		padding-top: 1rem;
		padding-bottom: 1rem;
		h4{
			font-size: 22px;
		}
		p{
			font-size: 13px;
		}
	}

	.defaults_list_gallerys.to_bottom{
		.bx_banner.pr-4{
			padding-right: 0 !important;
		}
		.bx_banner.pl-4{
			padding-left: 0 !important;
		}
	}
	.defaults_list_gallerys.to_bottom .lists_row .desc_info{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.cover-insides .inners_cover .texts p{
		font-size: 15px;
	}
	.cover-insides .inners_cover .texts h1{
		font-size: 23px;
	}

	.defaults_list_gallerys .lists_row .desc_info p,
	.defaults_list_gallerys.to_bottom .lists_row .desc_info p{
		text-align: justify;
	}

	section.dining-sec-1 .prelative.container .top-block .logo{
		padding-top: 3rem;
	}
	section.dining-sec-1 .prelative.container .top-block .text p{
		font-size: 15px;
	}

	section.dining-sec-1 .text-bawah{
		font-size: 15px;
	}
	section.footer .title p{
		font-size: 26px;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}