@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&display=swap');


@raj : 'Rajdhani', sans-serif;

html,body{
    position: relative;
    overflow-x: hidden;
    background: #ffffff;
}

h1,h2,h3,h4,h5,h6,p,a, div{
    font-family: @raj;
    margin-bottom: 0;
}

.prelative.container{
    padding: 0 110px;
    max-width: 1920px;

    position: relative;
}
.prelative.container2{
    padding: 0 15px;
    max-width: 1400px;
    margin: 0 auto;

    position: relative;
}

section.footer{
    .title{
        margin-bottom: 30px;
        p{
            font-size: 35px;font-weight: 500;color: #008a4b;
        }
    }
    .box-content{
        p{
            font-family: @raj;font-size: 20px;color: #616161;
            font-weight: 500;
            span{
                font-weight: 700;
            }
        }
    }
    h4{
        font-size: 18px;color: #797979;font-weight: 700;;
        margin-bottom: 25px;
    }
    ul{
        list-style: none;
        padding-left: 0;
        li{
            a{
                font-size: 18px;color: #797979;font-weight: 500;
                text-decoration: none;
            }
        }
    }
}

section.footer-bawah{                padding-top: 10px;
    padding-bottom: 50px;
    .content{
        float: right;
        p{
            font-size: 15px;color: #616161;
            text-align: right;
            a{
                font-size: 15px;color: #616161;
                text-decoration: none;
            }
        }
    }
    .image{
        img{
            padding-right: 50px;
        }
    }
}

section.home-sec-3{
    background: url('../images/design_05.jpg');
    background-size: cover;
    min-height: 779px;
    .image{
        margin-top: 175px;
        img{

        }
    }
    .box-content{
        max-width: 630px;
        padding-left: 110px;
        margin-top: 170px;
        h3{
            // max-width: 530px;
            font-weight: 500;font-size: 35px;color: #008a4b;
            letter-spacing: 1px;
        }
        p{
            margin-top: 40px;
            font-weight: 500;
            font-size: 17px;color: #3a3a3a;
        }
        h4{
            margin-top: 40px;
            a{
                font-weight: 700;
                font-size: 17px;
                color: #008a4b;
                text-decoration: none; 
            }
        }
    }
}
section.home-sec-2{
    padding-top: 150px;
    .box-content{
        display: table;
        vertical-align: middle;
        height: 100%;
        width: 100%;
        padding-left: 100px;
        .content-inner{
            vertical-align: middle;
            display: table-cell;
            height: 100%;
            .title{
                h3{
                    font-size: 35px;font-weight: 500;color: #008a4b;
                }
            }
            .isi{
                margin: 30px 0;
                p{
                    max-width: 600px;
                    font-weight: 500;color: #3a3a3a;font-size: 17px;
                }
            }
            .value{
                p{
                    margin-bottom: 30px;
                    font-weight: 700;color: #008a4b;font-size: 17px;
                }
            }

            .inners_list_icon{

                .icon{
                    // padding-right:80px;
                    display: inline-block;
                    img{
                        margin: 0 auto;
                        text-align: center;
                        position: relative;
                        display: block;
                    }
                    p{
                        font-size: 17px;font-weight: 500;color: #3a3a3a;
                        margin-top: 20px;
                    }
                }

                clear: both;
            }

        }
    }
}

section.home-sec-1{
    padding-top: 65px;
}
.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide{
    padding: 0 110px;
    .container.cont-fcs{
      max-width: 100%;
      padding: 0;
      .carousel-item{
        background-size: cover; 
        img{
          background-repeat: no-repeat;
          background-size: cover;
          background-position: right center;
        }
      }
      .carousel-text{
        position: absolute;
        text-align: left;
        right: 0;
        left: 0;
        top: 50%;
        
      }
      .carousel-button-native{
        position: absolute;
        width: 100%;
        ol.carousel-indicators{
          position: relative;
          max-width: inherit;
          margin: 0px;
          right: inherit;
          width: 100%;
          text-align: left;
          justify-content: initial;
          margin-top: -50px;
  
          li{
            background: #ed1c24;
            width: 55px;
            height: 6px;
            // border-radius: 10px;
            // margin: 0px 4px;
            cursor: pointer;
          }
          li.active{
            background: #ed1c24;
          }
          left: 13%;
        }
      }
    }
  }

  header.head.headers{
      height: 85px;
    .prelative.container.d-none.d-sm-block{
        padding-top: 17px;
        .logo_heads{
            img.img.img-fluid{
                width: 83%;
            }
        }
        .bottoms_head_menu{
            .list-inline{
                margin: 0 auto;
                text-align: center;
                li{
                    margin-right: 30px;
                    a{
                        font-size: 18px;color: #909090;font-weight: 500;
                    }
                }
                li.active,
                li:hover{
                    a{
                        color: #008a4b;
                        text-decoration: none;
                    }
                }
            }
        }
    }
  }

section.dining-sec-1{

    .hr-ver{
        height: 189px;
        width: 1px;
        background-color: #008a4b;
        display: block;
        margin: 3rem auto;
    }

    .prelative.container{
        // max-width: 1200px;
        // padding: 0;
        .top-block{
            .logo{
                padding-top: 100px;
                margin: 0 auto;
                display: block;
                text-align: center;
            }
            .title{

                padding-top: 25px;
                padding-bottom: 10px;
                p{
                    font-size: 30px;
                    color: #000000;
                    font-weight: 500;
                    text-align: center;
                    letter-spacing: 2px;
                }

            }
            .text{
                p{
                    color: #3a3a3a;
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 1.4;

                    text-align: center;
                    max-width: 770px;
                    margin: 0 auto;
                }
            }

        }

        .image{
            img{
                margin-top: 30px;
            }
        }
    }
    
    .text-bawah{
        font-size: 17px;
        font-weight: 500;
        line-height: 1.4;
        color: #3a3a3a;
        clear: both;
    }
    clear: both;
}

@import 'subpage.less';
