section.cover-insides{
	.inners_cover{

	}

	// background: url('../images/banner-hero-dinning1.jpg') no-repeat;
}

.content-text{
	h1, h2, h3, h4, h5{
		display: block;
		margin: 0; padding: 0;
		line-height: 1.3;
	}
	h3{
		font-size: 34px;
		font-weight: 500;
		color: #008a4b;
		margin-bottom: 13px;
	}
	p{
		font-size: 15px;
		font-weight: 500;
		color: #3a3a3a;
		line-height: 1.5;

		margin-bottom: 17px;
	}

	ul{
		li{
			font-size: 16px;
			font-weight: 500;
			color: #ccc;
		}
	}

	.desc_contact{
		p{
			font-size: 17px;
			a{
				color: #3a3a3a;
				i.fa{
					font-size: 18px;
					color: #008a4b;
				}
			}
			a:hover,
			a:focus{
				text-decoration: none;
				color: #008a4b;
			}
		}
	}
}

.defaults_list_gallerys{
	.lists_row{

		.desc_info{
			.middles{
				display: table-cell;
				vertical-align: middle;
				height: 100%;
				width: 100%;
			}
			display: table;
			vertical-align: middle;
			height: 100%;
			width: 100%;
			h4, p{
				margin: 0;
				display: block;
				padding: 0;
			}
			h4{
				font-size: 34px;
				font-weight: 500;
				color: #fff;
				line-height: 1.2;
				margin-bottom: 10px;
			}
			p{
				font-size: 17px;
				font-weight: 500;
				color: #fff;
				line-height: 1.4;
				margin-bottom: 20px;
			}

		}
		.col-md-20{
			background-color: #008a4b;
		}

		.bx_banner{
			img{}
		}
		clear: both;
	}

	clear: both;
}

.defaults_list_gallerys.to_bottom{
	.lists_row{

		.desc_info{
			.middles{
				display: table-cell;
				vertical-align: bottom;
				height: 100%;
				width: 100%;
			}

			display: table;
			vertical-align: bottom;
			height: 100%;
			width: 100%;

			h4{
				color: #008a4b;
			}
			p{
				color: #3a3a3a;
				margin-bottom: 0;
			}

		}
		.col-md-20{
			background-color: transparent;
		}

		clear: both;
	}

	clear: both;
}

.prelatife{
	position: relative;
}

.cover-insides{
	.inners_cover{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 100;
		display: table;
		vertical-align: middle;
		text-align: center;
		.inners_cvr{
			display: table-cell;
			vertical-align: middle; text-align: center;
			height: 100%;
			width: 100%;
		}

		.texts{
			h1, p{
				display: block;
				margin: 0;
				padding: 0;
			}
			h1{
				font-size: 29px;
				font-weight: 500;
				color: #fff;
				line-height: 1;
				letter-spacing: 2px;
			}
			p{
				font-size: 19px;
				font-weight: 500;
				color: #fff;
			}
		}
	}

}



.outer-blok-black-menuresponss-hides{
    display: none;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 7000;
    background-color: #fff;

    width: 100%;
    height: 100%;
    .line-separate{
    	background-color: #dadada;
    	height: 1px;
    	width: 200px;
    }
}
.menu-sheader-datals{ text-align: center; }
.menu-sheader-datals ul{ margin: 0px; padding: 0px; }
.menu-sheader-datals ul li{ padding: 0.1em 0px; position: relative; }
.menu-sheader-datals ul li.separate{
    padding: 0px; margin: 0 auto;
    background-color: rgba(255,255,255, 0.1);
    width: 17px; height: 1px;
}
.menu-sheader-datals ul li a{ font-size: 20px; letter-spacing: 0px; font-weight: 700; color: #797979; }
.menu-sheader-datals ul li a:focus,
.menu-sheader-datals ul li a:hover{
    color: #797979; text-decoration: none;
}
.menu-sheader-datals ul.n_menu2{
	li{
		a{
			font-weight: 500;
		}
	}
}
.blocks-info-menubtm{
	span{
		font-size: 17px;
		font-weight: 700; color: #797979;
	}
	ul{
		li{
			font-size: 16px;
			font-weight: 500;
			color: #797979;
			a{
				text-decoration: none;
				font-size: 16px;
				font-weight: 500;
				color: #797979;
			}
		}
	}
}

.hidesmenu-frightd a img{
    opacity: 0.8;
}

section.home-sec-2 .box-content .content-inner .icon{
	display: inline-block;
	// padding-right: 3.5rem;
}

.inners_list_icon{
	.icon{
		display: inline-block;
	}

	clear: both;
}

section.footer .box-content p{
	a{
		color: #616161
	}
}


@import 'n_media_styles.less';